body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin : 50px;
    border: 5px solid black;
}

.coloum{
    width: 30px; 
    height: 30px
}

.covered{
    background-color: black;
    border: 0px;
}

.line{
    display: flex;
}